---
import Section from "@/components/utils/Section.astro";
import ActionLink from "@/components/utils/ActionLink.astro";
import ListSkeleton from "@/components/landing/ListSkeleton.astro";
---

<Section title="Reading Summary">
  <ActionLink slot="header-actions" href="/books" text="View all" />
  <ListSkeleton rows={4} />
</Section>
