---
import Section from "@/components/utils/Section.astro";
import ActionLink from "@/components/utils/ActionLink.astro";
import ListSkeleton from "@/components/landing/ListSkeleton.astro";
---

<Section title="Recent Blog Posts">
  <ActionLink slot="header-actions" href="/blog" text="View all" />
  <ListSkeleton rows={3} />
</Section>
