---
import { processPost } from "@/lib/posts";
import List from "@/components/utils/List.astro";
import type { AugmentedPost } from "@/lib/data";

interface Props {
  posts: AugmentedPost[];
}

const { posts } = Astro.props;
const items = [...posts]
  .sort(
    (a, b) =>
      new Date(b.data.publishedAt).getTime() -
      new Date(a.data.publishedAt).getTime()
  )
  .slice(0, 3);
---

<List>
  {
    items.map((post) => {
      const { title, postUrl } = processPost(post);
      return (
        <li class="list-item clickable">
          <a
            href={postUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="post-link"
          >
            <div class="item-left">
              <span class="item-main">{title}</span>
            </div>
            <span class="arrow">→</span>
          </a>
        </li>
      );
    })
  }
</List>

<style>
  .post-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
</style>
