---
import Section from "@/components/utils/Section.astro";
import ActionLink from "@/components/utils/ActionLink.astro";
import ListSkeleton from "@/components/landing/ListSkeleton.astro";
import { actorDid } from "@/lib/const";
---

<Section title="Bluesky">
  <ActionLink
    slot="header-actions"
    href={`https://bsky.app/profile/${actorDid}`}
    text="View profile"
  />
  <ListSkeleton rows={4} />
</Section>
