---
import Section from "@/components/utils/Section.astro";
import ActionLink from "@/components/utils/ActionLink.astro";
import ListSkeleton from "@/components/landing/ListSkeleton.astro";
---

<Section title="Upcoming Events">
  <ActionLink slot="header-actions" href="/events" text="View all" />
  <ListSkeleton rows={2} />
</Section>
