---
import List from "@/components/utils/List.astro";

interface Props {
  events: any[];
}

const { events } = Astro.props;
const now = Date.now();
const items = events
  .map((e) => ({ ...e, startDate: new Date(e.startDate) }))
  .filter((e) => e.startDate.getTime() > now)
  .sort((a, b) => a.startDate.getTime() - b.startDate.getTime())
  .slice(0, 3);
---

<List>
  {
    items.map((event) => (
      <li class="list-item clickable">
        <a
          href={event.atmoUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="event-link"
        >
          <div class="item-left">
            <span class="item-main">
              {event.data.name || "Untitled Network Event"}
            </span>
          </div>
          <span class="arrow">→</span>
        </a>
      </li>
    ))
  }
</List>

<style>
  .event-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
</style>
