---
import LayoutPage from "@/layouts/LayoutPage.astro";
import BooksContent from "@/components/books/BooksContent.astro";
import BooksSkeleton from "@/components/books/BooksSkeleton.astro";
import Breadcrumbs from "@/components/utils/Breadcrumbs.astro";

export const prerender = true;
---

<LayoutPage title="Bookshelf | Felix Schneider">
  <div class="page-head">
    <h1>Bookshelf</h1>
    <Breadcrumbs />
  </div>

  <BooksContent server:defer>
    <BooksSkeleton slot="fallback" />
  </BooksContent>
</LayoutPage>
