---
import LayoutPage from "@/layouts/LayoutPage.astro";
import ProjectsContent from "@/components/projects/ProjectsContent.astro";
import Breadcrumbs from "@/components/utils/Breadcrumbs.astro";

export const prerender = true;
---

<LayoutPage title="Projects | Felix Schneider">
  <div class="page-head">
    <h1>Open Source</h1>
    <Breadcrumbs />
  </div>

  <ProjectsContent />
</LayoutPage>
